[Unit]
Description=Init file for the oki4daemon printer driver daemon

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/oki4daemon &
ExecStart=/bin/touch /var/lock/subsys/oki4daemon

ExecStop=/bin/killproc oki4daemon
ExecStop=/bin/rm -f /var/lock/subsys/oki4daemon

[Install]
WantedBy=multi-user.target
